// Basics
@import 'tools/pre';
@import 'typography/embed';

// Define output settings for project
$output: set-output(css, true);

// Output the whole framework
@import '~henris';

// Defined settings
@import 'tools/post';

// Theme
@import 'typography/typography';
@import 'components/index';

body {
	height: auto;
	background-color: color(Dark);
	color: color(White);
}

[aria-hidden='true'] {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
img:not([alt]), img[alt=""] {
	outline: none;
}
