p {
  & + p {
    margin-top: 1rem;
  }
}


h3{
  & + p{
    margin-top: 1rem; 
  }
}

h2 + .section__content {
  margin-top: 1rem;
}

h2.section__title {
  margin-top: 2rem;
}

h1 + .button{
  margin-top: 24px; 
}

.button + p{
  margin-top: 24px;
}

p + .button{
  margin-top: 24px; 
}

